body{
    padding: 0px;
    margin: 0px auto;
}
.main{
    width: 100%;
    background-image: url(../img/bunner.png);
    background-size:cover ;
    height: 1000px;
    background-repeat: no-repeat;

}
.navbar{
    width: 100% ;
    min-height: 20px;
    float: left;
    background-color:transparent;
}
.logo{
    width: 20%;
    min-height:inherit;
    float: left;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    padding-left: 200px;
} 
.menu{

    width: 80%;
    min-height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: left;


    
}
.menu ul{

    margin:0px 0px ;
    padding-top: 26px;
    float: left;
    padding-right: 5px;


}
  
.menu ul li{
    float: left;
    list-style-type: none;
    padding: 0px 35px 10px;
    letter-spacing: 1px;
    line-height: 25px;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    border-bottom: 2px solid transparent;
}
.menu ul li a{
    text-decoration: none;
    color: #1F1F24;
}
.menu ul li:hover{
    border-bottom: 2px solid rgb(3, 184, 3);
    cursor: pointer;
    transition: 0.3s;

}
.country{
    width: 22%;
    float: right;
    min-height: 65px;
    background-color: rgb(0, 0, 98);
    padding: 0px 100px 0px 20px;
    margin: 0px 0px;
    

}
.country span{
    float: left;
    padding-top: 18px;
   padding-left: 10px;
    color: white;

    
    font-weight: 600;
    font-family:'Zilla Slab';
}
.line{

    border-bottom:2px solid gray;
    margin: 0px 0px;



}

.icon{
    float: left;
    background-color: transparent;
    padding:800px 600px 0px 200px;
    font-size: xx-large



}
.icon span{
    padding: 0px 0px;
    margin: 0px 5px;
    cursor: pointer;
}
.section{
    position: absolute;
    width: 600px;
    height: 40px;
    top: 450px;
    left: 450px;
    font-family:'Zilla Slab';
    text-align: center;

}
.section span{
    font-size: 50px;
    color: white;
    font-weight: 500;
    letter-spacing: 5px;

}
.vector1{
    position: absolute;
    left: 250px;
    top: 500px;

}
.vector2{
    position: absolute;
    right: 250px;
    top: 500px;

}
.kruq1{
    
    position: absolute;
    left: 240px;
    top: 493px;

}
.kruq2{

    position: absolute;
    right: 238px;
    top: 493px;
}

.main2{
    width: 100%;
    height: 900px;
    float: left;
    position: relative;
    margin-top: 100px;
    z-index: 1;

    /* width: 563%;
    height: 868px;
    float: left; */
}
.blok2{
    width: 700px;
    position: absolute;
    left: 500px;
    top: 95px;
    z-index: 2;
    min-height: 493px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/Rectangle\ 55.png);
}

.bord{

    border-right:4px solid whitesmoke;
    border-bottom: 4px solid whitesmoke;
    width: 746px;
    height: 500px;
    padding:0px 20px 20px 0px;
    position: relative;
    z-index: 9;
}
.text{
    width: 700px;
    min-height: 450px;
    position: absolute;
    background-color: white;
    box-shadow: inset;
    padding: 0 65px;
    box-shadow: 46px 41px 53px rgba(0, 0, 0, 0.48); 

}

.text h1{
    margin-bottom: 25px;
    font-family: 'Zilla Slab';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;

color: #1F1F24;
}

.text p{
    font-family: 'Zilla Slab';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 170%;
/* or 34px */


/* Gray 1 */

color: #333333;

opacity: 0.5;
}
.logo i{
    display: none;
}

mtext{
    display: none;
}

.none2{
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


    .icon {
        float: left;
        background-color: transparent;
        /* padding: 800px 600px 0px 200px; */
        font-size: xx-large;
        display: none;
    }
    .menu{
        display: none;
    }
    .logo i {
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid grey;
            padding: 10px;
            display: block;
            color: green;
            margin-left: 88px;
    }


    .mtext{
        width: 20%;
        min-height:inherit;
        background-color:transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 150px;
        /* padding: 12px 0px; */
        /* padding-left: 200px; */
    } 
    .mtext span{
        font-family: 'Zilla Slab';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 155%;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 3px 37px rgba(0, 0, 0, 0.25);

    }

    .mnavigat{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 90px;
    }

    .mnavigat span i{
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid white;
        padding: 10px;
        color: white;

    }


    .kruq1, .kruq2,.vector1,.vector2, .main2{
        display: none;
    }
    .none{
        display: none;
    }
    .main{
        height: 500px;
    }
    .second_part{
        width: 100%;
        min-height: 550px;
        float: left;
        background-color:transparent;
        margin-top: 62px;
        display: block;
        padding: 0 20px;

    }

    .second_part h1{
        font-family: 'Zilla Slab';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #1F1F24;
        margin-bottom: 50px;
    }
    .second_part img{
        width: 100%;
        margin-bottom: 23px;
    }
    .second_part span{
        font-family: 'Zilla Slab';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 160.5%;
        color: #333333;
        opacity: 0.5;
        
    }




}